<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo Utente</title>
    </head>
    <body>
 
        {% if brani %}
        <table>
            <thead>
                <tr>
                    <th>|Nome Playlist|</th>
                    <th>|Numero di Brani|</th>
                    <th>|Copertina|</th>
                    <th>|Brani|</th>
                </tr>
            </thead>
            <tbody>
                {% for brani in branis %}
                <tr>
                    <td>{{ branis['name'] }}</td>
                 
                    <td>
                    {% if branis['images'] %}
                    <img src="{{ branis['images'][0]['url'] }}" width="50" alt="Copertina playlist">
                    {% else %}
                    Nessuna immagine
                    {% endif %}
                    </td>
      
                  
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>Non hai playlist disponibili.</p>
        {% endif %}
    </body>
</html>